
body{
    background-color: #f2f2f2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana',' sans-serif';
}

.expanse-tracker{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: beige;
}

.expanse-header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px; 
}

.add-expanse-btn{
    padding: 10px 30px;
    background-color: #4caf50;
    counter-reset: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.total-expanses{
    text-align: right;
}

.expanse-list{
    margin-bottom: 20px;
}

.expanse-item{
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
}

.expanse-item-description{
    font-weight: bold;
}

.expanse-item-amount{
    font-weight: bold;
}

.delete-expanse-btn{
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}